.shopguide img{
    height:210px;
}

.shopguide .container {
    position: absolute;
    display: table;
    height: 142px;
    font-size: 14px;
    width: 960px;
    margin-left:200px;
    margin-right:200px;
    top:50px;
}

.shopguide-info {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    z-index: 1;
}

.shopguide-info img {
    margin-right: 15px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,.3);
    vertical-align: middle;
}

.shopguide-info-wrapper {
    display: inline-block;
    vertical-align:middle;
    width:240px;
    height:71px;
}
